.app {
  background-color: palegoldenrod;
}

.title {
  background-color: palegoldenrod;
  margin: 0px;
  border: 20px solid palegoldenrod;
}

.new-message {
  background-color: palegoldenrod;
  border-bottom: 50px;
  width: 50%;
  margin: auto;
  left: 15rem;
}

.chat-container {
  box-sizing: border-box;
  border: 10rem solid palegoldenrod;
  border-top: 1rem;
  margin: 30px;
  padding: 0px;
  overflow: scroll;
  width: 90%;
  max-height: 800px;
}

.user-icon {
  color: lightslategray;
  background-color: palegoldenrod;
  border: 15px solid palegoldenrod;
 }

.message-row {
  border: 10px solid palegoldenrod;
  max-height: 10px;
}

.highly-pos {
  background-color: forestgreen;
  color: floralwhite;
}

.pos {
  background-color: lightgreen;
}

.slightly-pos {
  background-color: palegreen;
}

.neutral {
  background-color: palegoldenrod;
}

.slightly-neg {
  background-color: darkorange;
}

.neg {
  color: antiquewhite;
  background-color: orangered;
}

.highly-neg {
  color: antiquewhite;
  background-color: darkred;
}